section class="m-5"
  = render 'teams/new'
  = render 'teams/edit'
  table id="teams-datatable" class="table table-striped table-bordered"
    thead
      tr
        th scope="col" ID
        th scope="col" Title
        th scope="col" Host
        th scope="col" Active
        th scope="col" Exploits
        th scope="col" Team Graph
        th scope="col" Points Gained
        th scope="col" Edit Link
    tbody

javascript:
  const tableSelector = '#teams-datatable';
  const table = $(tableSelector).DataTable({
    processing: true,
    serverSide: true,
    ajax: {
      url: $(tableSelector).data('source')
    },
    buttons: ['refresh'],
    pagingType: 'full_numbers',
    columns: [
      { data: "id" },
      { data: "title" },
      { data: "host" },
      {
        data: "status",
        render: data => `<img src="https://icongr.am/material/${data === 'up' ? 'check' : 'close'}.svg" />`
      },
      {
        data: "exploits",
        render: data => JSON.parse(data).map(val => `<img src="https://icongr.am/material/flash${val === 1 ? '' : '-off'}.svg?size=18" />`).join('')
      },
      { data: "flags", orderable: false, searchable: false },
      { data: "points", orderable: false, searchable: false },
      {
        data: "edit_link",
        render: data => `<a href="${data}" data-remote="true" data-toggle="modal" data-target="#edit-modal"><img src="https://icongr.am/material/account-edit.svg" /></a>`,
        orderable: false,
        searchable: false
      }
    ],
    columnDefs: [
      {
        targets: [0, 1, 2, 3, 4, 5, 6, 7],
        className: 'text-center align-middle'
      }
    ],
    order: [0, 'asc'],
    initComplete: () => {
      table.buttons().container().prependTo($('.col-md-6:eq(1)'));
      $(`<a href="/teams/new" data-remote="true" data-toggle="modal" data-target="#new-modal"><button class="btn btn-secondary" tabindex="0" aria-controls="teams-datatable" type="button"><span>New Team</span></button></a>`).prependTo($('.dt-buttons'));
    }
  });