@import 'datatables/dataTables.foundation';
@import 'datatables/extensions/Responsive/responsive.foundation';
@import 'datatables/extensions/Buttons/buttons.dataTables';

$background-color: #343a40;

.page-link {
  color: $background-color;
}

.page-item.active .page-link, .dt-buttons > .btn-secondary {
  background-color: $background-color;
  border-color: $background-color;
}